<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIs-ojm9ZW84OF59305E4XcBcAy9I8vjU</string>
	<key>GCM_SENDER_ID</key>
	<string>981644825796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syncfusion.bolddesksdk</string>
	<key>PROJECT_ID</key>
	<string>iosnotification-23247</string>
	<key>STORAGE_BUCKET</key>
	<string>iosnotification-23247.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981644825796:ios:13403a64b417f116d52591</string>
</dict>
</plist>